
html {
    background: url("map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#box {
    background-color: rgb(129, 129, 129);
    width: 300px;
    height: auto;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#answerA, #answerB, #answerC, #answerD {
    border-radius: 4px;
    width: 140px;
    text-align: center;
    height: 40px;
}
 